* {
  margin: 0%;
  padding: 0%;
}
.App {
  text-align: center;
  height: 100vh;
  min-height: 100vh;
  background-color: rgb(83, 83, 83);
}
.today {
  padding-top:1%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 25px;
}
.date {
  color: rgb(92, 162, 236);
}
.dash {
 color:black;
}
.todo {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 40px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.done {
  font-size: 30px;
  padding-top: 50px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.input {
  font-size: 20px;
}
.addButton{
  border: none;
  border-radius: 30%;
  margin-left: 5px;
  width: 25px;
}
.refreshButton {
  border: none;
  border-radius: 30%;
  margin-left: 5px;
  font-size: 20px;
  width: 25px;  
}
.addText {
  font-size: 20px;
}
.refreshText {
  font-size: 15px;
}
.deleteButton {
    border: none;
    font-size: 20px;
    border-radius: 30%;
    height: 15px;
    width: 15px;
}

.deleteButton:hover {
  transform: scale(0.9);
}

.li {
  padding:5px;
  font-size: 25px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: rgb(176, 129, 129);
}
.doneli {
  padding:5px;
  font-size: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: rgb(134, 158, 134);
}
.ul {
  padding:10px;

}
.doneul {
  padding: 10px;
}

